<v-app :class="$style.app">
  <v-app-bar dark dense app>
    <router-link to="/">
      <img :src="logo" :class="$style.logo" />
    </router-link>
    <v-spacer />

    <div v-if="loggedOut">
      <v-btn dark text to="/login">
        Sign In
      </v-btn>
      <v-btn dark outlined to="/register">
        Sign Up
      </v-btn>
    </div>

    <v-menu offset-y v-if="!loggedOut">
      <template v-slot:activator="{ on }">
        <v-btn dark v-on="on" icon>
          <img :src="avatar" :class="$style.avatar" />
        </v-btn>
      </template>
      <v-list class="py-0 mt-1">
        <v-list-item>
          Signed in as&nbsp;<strong v-html="girderRest.user.login" />
        </v-list-item>
        <v-divider />
        <v-list-item @click="$router.push('/profile')">
          <v-list-item-content>
            <v-list-item-title>
              Your profile
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider />
        <v-divider />
        <v-list-item @click="$router.push('/Projects')">
          <v-list-item-content>
            <v-list-item-title>
              Select Project
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider />
        <v-list-item @click="logout">
          <v-list-item-content>
            <v-list-item-title>Sign out</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-app-bar>

  <v-content>
    <v-container fluid v-if="isReady" class="pa-0">
      <router-view
        :oauth="oauth"
        :oauthProviders="oauthProviders"
        :loggedIn="loggedIn"
        :loggedOut="loggedOut"
      />
    </v-container>
  </v-content>

</v-app>
